<%- include('parent/header'); -%>
<div class="main-container p-3">
    <div class="row">
        <div class="col-8">
            <div class="profile-container pe-5 pt-5 rounded border">
                <h1 class="ms-3 mb-5 pb-2 border-bottom">Player No : <%= player.SRNO %></h1>
                <div class="row pb-5">
                    <div class="col-4">
                        <label for="playerName">Name : </label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="playerName" value="<%= player.Name %>" disabled>
                    </div>
                </div>
                <div class="row pb-5">
                    <div class="col-4">
                        <label for="playerTeam">Last IPL Team : </label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="playerTeam" value="<%= player.IPL2022Team %>" disabled>
                    </div>
                </div>
                <div class="row pb-5">
                    <div class="col-4">
                        <label for="playerCountry">Country : </label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="playerCountry" value="<%= player.Country %>" disabled>
                    </div>
                </div>
                <div class="row pb-5">
                    <div class="col-4">
                        <label for="playerBasePrice">BasePrice : </label>
                    </div>
                    <div class="col-6">
                        <input style="color: #FF5722;" type="text" id="playerBasePrice" value="<%= player.BasePrice %>" disabled>
                    </div>
                    <div class="col-2">
                        <label>Lakhs</label>
                    </div>
                </div>
                <div class="row pb-5">
                    <div class="col-4">
                        <label for="playerSold">Sold : </label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="playerSold" value="<%= player.SOLD %>" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 ps-3">
            <div class="profile-holder rounded border border-success">
                <div class="d-flex justify-content-center">
                    <img class="rounded" id="playerImage" height="500" width="400" src="<%= player.IMGURL %>" alt="">
                </div>
                <div class="stat-holder">
                    <div class="d-flex justify-content-center">
                        <img class="mt-2" id="nationImage" src="<%= player.flagURL %>" height="50" width="71.42" alt="">
                    </div>
                    
                    <div class="stats">
                        <ul>
                            <li><%= player.CUA %></li>
                            <li><%= player.PlayingRole %></li>
                            <li><%= player.IPLMatches %> Matches</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button onclick="previous(this)" class="btn btn-primary w-50">Previous</button>
        </div>
        <div class="col">
            <button onclick="bid(this)" class="btn btn-success w-50">Bid</button>
        </div>
        <div class="col">
            <button onclick="next(this)" class="btn btn-primary w-50">Next</button>
        </div>
        <div class="col">
            <button onclick="jump(this)" class="btn btn-info w-50">Jump To</button>
        </div>
    </div>
    <div class="bid-div">
        <div class="control m-3">
            <div class="d-flex justify-content-center m-5">
                <select id="teamSelect" onchange="teamSelect(this)"></select>
            </div>
            <div class="team-stat m-3">
                <div class="row m-4 border-bottom round" style="font-size: 1.5rem;font-weight: 500; text-decoration-line:underline; text-decoration-style:dashed;">
                    <div class="col-5">Name</div>
                    <div class="col-5">Current Balance</div>
                    <div class="col-2">Total Players</div>
                </div>
                <div class="row m-4 pb-2 border-bottom" id="team-data-row">
                </div>
            </div>
            <div class="row m-4">
                <label class="col-3 ps-5" style="font-weight: 500;color: #FF5722; text-decoration-line: underline;text-decoration-style: dashed;" for="playerBidPrice">Bid Price : </label>
                <input class="col-9" style="width: 70%;" type="number" id="playerBidPrice">
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-success" onclick="save(this)">Save</button>
                <button class="btn btn-danger" onclick="closeDiv(this)">Close</button>
            </div>
        </div>
        
    </div>
</div>
<script>
    $(document).ready(()=> {
        loadTeam = (team) => {
            console.log(team);
            $("#team-data-row").children().remove();
            $("#team-data-row").append(`<div class='col-5'>${team.Name}</div>`);
            $("#team-data-row").append(`<div class='col-5 stats'>${team.Current}</div>`);
            if(team.Players){
                $("#team-data-row").append(`<div class='col-2'>${team.Players.length}</div>`);
            }else{
                $("#team-data-row").append(`<div class='col-2'>0</div>`);
            }
        }

        teamSelect = (e) => {
            let no = +e.value.split(".")[0];
            fetch("/getTeams").then(resp => resp.json()).then(resp => {
                for(let team of resp.teams){
                    if(team.No == no) loadTeam(team);
                }
            });
        }

        loadTeams = () => {
            fetch("/getTeams").then(resp => resp.json()).then(resp => {
                $("#teamSelect").children().remove();
                for(let team of resp.teams){
                    $("#teamSelect").append(`<option>${team.No}. ${team.Name}</option>`);
                }
                loadTeam(resp.teams[0]);
            });
        }

        loadTeams();

        closeDiv = (e) => {
            $(".bid-div").css("display","none");
        }

        save = (e) => {
            const teamIndex = +$("#teamSelect").val().split(".")[0];
            const playerSrno = <%- player.SRNO %>;
            const bidprice = +$("#playerBidPrice").val();
            let pss = 1;
            fetch("/getTeams").then(resp => resp.json()).then(resp => {
                for(let team of resp.teams){
                    if(team.No == teamIndex){
                        if(team.Current > bidprice){
                            if(bidprice <= 0 || bidprice == undefined || pss == 0){
                                alert("Error !");
                                return;
                            }
                            let reponse = {
                                method : "POST",
                                headers : {
                                    "Content-Type" : "application/json"
                                },
                                body : JSON.stringify({teamIndex : teamIndex, player : playerSrno,bidPrice : bidprice})
                            };
                            fetch(`/main/${playerSrno}`,reponse).then(resp => resp.json()).then(resp => {
                                if(resp.status == 200) alert("Sucsess !");
                                else alert(resp.status);
                            }).then(() => loadTeams());
                        }else{
                            alert("You don't have enough balance !");
                        }
                    }
                }
            });
            
        }

        previous = (e) => {
            const current = <%- player.SRNO %>;
            if(current == 1){
                alert("No zero index !");
                return;
            }
            reload(current-1);
        }

        reload = (num) => {
            let lst = window.location.href.split("/");
            lst[lst.length-1] = num;
            window.location.replace(lst.join("/"));
        }

        next = (e) => {
            const current = <%- player.SRNO %>
            if(current == <%- total %>){
                alert("No player remaining !");
                return;
            }
            reload(current+1);
        }

        jump = (e) => {
            let srno = +prompt("Enter sr no : ");
            if(isNaN(srno)){
                alert("Nan value not allowed !");
                return;
            }
            if(srno > <%- total %> || srno < 1){
                alert("No player found with this index !");
                return;
            }
            reload(srno);
        }

        bid = (e) => {
            $(".bid-div").css("display","block");
        }
    });
</script>
<%- include('parent/footer'); -%>